<section class="tile">
  {{#foreach tags}}
    <a class="tile-tag" href="{{ slug }}">{{ name }}</a>
  {{/foreach}}
  <a href="{{ url }}" class="tile-view">
    <img class="tile-img" src="{{ image }}">
    <div class="tile-cover overlay"></div>
    <span class="tile-time">{{ date timeago="true" }}</span>
  </a>
  <a class="tile-label" href="#">{{title}}</a>
</section>