<section class="p">
  <div class="p-details">
    <span class="p-time">{{ date format="Do MMM YYYY -" }}</span>
    {{#foreach tags}}
      <a class="p-tag p-tag-{{ slug }}" href="/tag/{{ slug }}">{{ name }}</a>
    {{/foreach}}
  </div>
  <a href="{{ url }}" class="p-text1">{{title}}</a>
  <p class="p-excerpt">{{excerpt}}</p>
</section>
