{{!< default}}

{{#post}}
  {{#if image}}
    <div class="nav-global">{{navigation}}</div>
    <header class="feature" style="background-image: url({{image}});">
      <div class="overlay"></div>
      <div class="wrap">
        <div class="feature-text">
          <h1 class="text-1">{{title}}</h1>
          <time class="text-2">{{date format="DD MMM YYYY"}}</time>
        </div>
      </div>
    </header>
    <article class="wrap {{post_class}} push-down">
      {{> post_content }}
    </article>
    {{> post_footer }}
  {{else}}
    <header class="header">{{navigation}}</header>
    <article class="wrap {{post_class}}">
      <div class="post-content">
        <h1 class="text-1">{{title}}</h1>
        {{> post_content }}
      </div>
    </article>
    {{> post_footer }}
  {{/if}}

{{/post}}
